@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    .bg-theme-background-light,
    .bg-theme-background-dim,
    .bg-theme-background-dark {
        @apply bg-system-default text-system-default m-0 p-0;
        @apply font-default;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
